.bounce{
  float: left;
  position : relative;
  width : 0.5em;
  height : 1.5em;
  border-radius : 50%;
  background : radial-gradient(top left, #EEE, #333 60%);
  background : -o-radial-gradient(top left, #EEE, #333 60%);
  background : -ms-radial-gradient(top left, #EEE, #333 60%);
  background : -moz-radial-gradient(top left, #EEE, #333 60%);
  background : -webkit-radial-gradient(top left, #EEE, #333 60%);
  animation : bounce 1.0s cubic-bezier(0.3,0.6,1,0.5) alternate infinite;
  -o-animation : bounce 1.0s cubic-bezier(0.3,0.6,1,0.5) alternate infinite;
  -ms-animation : bounce 1.0s cubic-bezier(0.3,0.6,1,0.5) alternate infinite;
  -moz-animation : bounce 1.0s cubic-bezier(0.3,0.6,1,0.5) alternate infinite;
  -webkit-animation : bounce 1.0s cubic-bezier(0.3,0.6,1,0.5) alternate infinite;
  bottom : 1em;
  box-shadow : 0 1em 1em #DDD;
  margin-top: 115px;
  padding-left:	5px;
  
}

@keyframes bounce{
  60%{
    bottom : 0.5em;
    height : 1.5em;
    width : 1.5em;
    box-shadow : 0 0.5em 0.6em #CCC;
  }
  to{
    bottom : 0;
    height : 1em;
    width : 1.9em;
    box-shadow : 0 0.6em 0.7em #CCC;
  }
}
@-o-keyframes bounce{
  60%{
    top : 0.5em;
    height : 1.5em;
    width : 1.5em;
    box-shadow : 0 0.5em 0.6em #CCC;
  }
  to{
    top : 1em;
    height : 1em;
    width : 1.9em;
    box-shadow : 0 0.6em 0.7em #CCC;
  }
}
@-ms-keyframes bounce{
  60%{
    top : 0.5em;
    height : 1.5em;
    width : 1.5em;
    box-shadow : 0 0.5em 0.6em #CCC;
  }
  to{
    top : 1em;
    height : 1em;
    width : 1.9em;
    box-shadow : 0 0.6em 0.7em #CCC;
  }
}
@-moz-keyframes bounce{
  60%{
    top : 0.5em;
    height : 1.5em;
    width : 1.5em;
    box-shadow : 0 0.5em 0.6em #CCC;
  }
  to{
    top : 1em;
    height : 1em;
    width : 1.9em;
    box-shadow : 0 0.6em 0.7em #CCC;
  }
}
@-webkit-keyframes bounce{
  60%{
    top : 0.5em;
    height : 1.5em;
    width : 1.5em;
    box-shadow : 0 0.5em 0.6em #CCC;
  }
  to{
    top : 1em;
    height : 1em;
    width : 1.9em;
    box-shadow : 0 0.6em 0.7em #CCC;
  }
}
